/*Four card feature section layout*/

.feature__section {
  width: 100%;
  height: 100%;
  padding: 8rem 16.5rem;
}

.heading_primary--main,
.heading_primary--sub {
  display: block;
}

.feature__card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.feature__card--1 {
  grid-row: 1 / 3;
  margin: auto 0;
}

.feature__card--3 {
  grid-row: 1 / 3;
  margin: auto 0;
}

.feature__card--4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
