/*Four card feature section layout*/

.feature__section {
  width: 100%;
  height: 100%;
  padding: 8rem 16.5rem;
}

.heading_primary--main,
.heading_primary--sub {
  display: block;
}

.feature__card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.feature__card--1 {
  grid-row: 1 / 3;
  margin: auto 0;
  border-top: 3px solid #44d3d2;
}

.feature__card--2 {
  border-top: 3px solid #ea5454;
}

.feature__card--3 {
  grid-row: 1 / 3;
  margin: auto 0;
  border-top: 3px solid #fcae4a;
}

.feature__card--4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border-top: 3px solid #549ef2;
}

@media screen and (max-width: 425px) {
  .feature__section {
    width: 100%;
    height: 100%;
    padding: 8.5rem 3.2rem;
  }

  .feature__card-container {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 2.5rem;
  }

  .feature__card {
    justify-self: center;
  }

  .feature__card--1 {
    grid-column: 1 / 1;
    grid-row: 1;
    margin: 0;
    border-top: 3px solid #44d3d2;
  }

  .feature__card--2 {
    grid-column: 1 / 1;
    grid-row: 2;
    border-top: 3px solid #ea5454;
  }

  .feature__card--3 {
    grid-column: 1 / 1;
    grid-row: 3;
    margin: 0;
    border-top: 3px solid #fcae4a;
  }

  .feature__card--4 {
    grid-column: 1 / 1;
    grid-row: 4;
    border-top: 3px solid #549ef2;
  }
}
